nav.navigation
  .navigation-wrapper
    a.navigation-link(href="/")
      | Logo

      svg.navigation-link-icon

    ul.navigation-list

      li.navigation-list-item
        a.navigation-list-link(href="/About") About
      li.navigation-list-item
        a.navigation-list-link(href="/collections") Collections
